textarea {
  border: solid !important;
  border-width: 1px !important;
  margin-bottom: 10px !important;
  border-color: #AAAAAA !important;
}

.w3Page {
  box-sizing: initial;
  font-size: .95em;
}

.pageHTML {
  height: 600px;
  overflow-y: scroll;
}

iframe { 
  width: 90%; 
}
